<p id="notice"><%= notice %></p>

<h1>Listing Admin Guests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_guests.each do |admin_guest| %>
      <tr>
        <td><%= link_to 'Show', admin_guest %></td>
        <td><%= link_to 'Edit', edit_admin_guest_path(admin_guest) %></td>
        <td><%= link_to 'Destroy', admin_guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_admin_guest_path %>
