<p id="notice"><%= notice %></p>

<h1>Listing Admin Deployments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_deployments.each do |admin_deployment| %>
      <tr>
        <td><%= link_to 'Show', admin_deployment %></td>
        <td><%= link_to 'Edit', edit_admin_deployment_path(admin_deployment) %></td>
        <td><%= link_to 'Destroy', admin_deployment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deployment', new_admin_deployment_path %>
