<h1>Summerfell Turbo WiFi Registration</h1>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<script>Stripe.setPublishableKey('<%= Figaro.env.stripe_publishable_key %>');</script>

<%= form_for @hotspot_registration, html: { class: "basic-grey" } do |f| %>
  <% if @hotspot_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotspot_registration.errors.count, "error") %> prohibited this hotspot_registration from being saved:</h2>

      <ul>
      <% @hotspot_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :card_token %>
    <%= f.hidden_field :device_address %>
    <%= f.hidden_field :access_point_address %>
  </div>

  <p style="margin-bottom: 20px;">
    Choose a WiFi access package from options below. All Summerfell Turbo packages are 10Mbps/10Mbps, with no download quotas.
  </p>

  <div class="form-group">
    <% packages.each do |package| %>
      <div class="radio" style="margin-left: 30px; padding-bottom: 10px;">
        <%= f.radio_button :package_id, package.id %>
        <%= f.label :package_id do %>
          <strong><%= package.name %></strong>&nbsp; &mdash; &nbsp; $<%= package.price %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="checkbox" style="margin-left: 30px; padding-bottom: 10px;">
      <%= f.check_box :terms %>
      <%= f.label :terms, 'I Accept the Terms and Conditions' %><br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", "data-stripe" => "email" %>
  </div>

  <div class="form-group">
    <%= label_tag "Card Number", nil, required: true %>
    <%= text_field_tag :card_number, nil, class: "form-control", "data-stripe" => "number" %>
  </div>

  <div class="form-group">
    <%= label_tag "Card Verification", nil, required: true %>
    <%= text_field_tag :card_verification, nil, class: "form-control", "data-stripe" => "cvv" %>
  </div>

  <div class="form-group">
    <%= label_tag "Card Expires", nil, required: true %>
    <%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp-month", class: "form-control" %>
    <%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp-year", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Registration Payment", class: "btn btn-default", style: "color: white;background: rgb(242, 118, 73);" %>
  </div>
<% end %>