<p id="notice"><%= notice %></p>

<h1>Listing Admin Guests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_hotspot_registrations.each do |admin_hotspot_registration| %>
      <tr>
        <td><%= link_to 'Show', admin_hotspot_registration %></td>
        <td><%= link_to 'Edit', edit_admin_hotspot_registration_path(admin_hotspot_registration) %></td>
        <td><%= link_to 'Destroy', admin_hotspot_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_admin_hotspot_registration_path %>
