<!DOCTYPE html>
<html>
<head>
  <title>Summerfell</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'admin/shared/navigation' %>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
